:root{
  --burgundy: #800029;
  --offWhite: rgb(155, 155, 155);
}
.burgundy{
  background-color: var(--burgundy);
}

.navbar{
  background-color: var(--burgundy);
}
.navButton{
  width: 8vw;
  height: 6vh;
}
.navText{
  font-size: 80%;
}
.lessonGrid{
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  height: 100vh;

}
.lessonItem{
  display: inline-block;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.lessonContent{
  height: 85%;
  max-height: 85%;
}
.limitImg{
  max-height: 50px;
}
.basketPage{
  height: 80vh;
}
.basketItem{
  max-width: fit-content;
}
.off-white{
  background-color: var(--offWhite);
}
.carouselHeight{
  max-height: 50vh;
  height: 50vh;
}
.fitContent{
  width:fit-content;
}