:root{
  --burgundy: #800029;
  --offWhite: rgb(155, 155, 155);
}
.burgundy{
  background-color: var(--burgundy);
}

.navbar{
  background-color: var(--burgundy);
}
.navButton{
  width: 8vw;
  height: 6vh;
}
.navText{
  font-size: 80%;
}
.lessonGrid{
  grid-gap: 10px;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: 25% 25% 25% 25%;
  height: fit-content;
  max-height: 90vh;

}
.lessonItem{
  display: inline-block;
  grid-gap: 10px;
  max-height: fit-content;
  max-width: 25vw;
  /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
}
.lessonContent{
  height: 85%;
  max-height: 85%;
}
.limitImg{
  width: auto;
}
.basketPage{
  height: 80vh;
}
.basketItem{
  max-width: fit-content;
}
.off-white{
  background-color: var(--offWhite);
}
.carouselHeight{
  max-height: 90vh;
  height: 90vh;
}
.fitContent{
  width:fit-content;
}
.overflow-y{
  overflow-y: auto;
  overflow-x: hidden;
}